div {
  color: aliceblue;
}

.custom-data {
  color: aliceblue;
}

.user-profile-container {
  display: flex;
  flex-direction: column;
}

.greeting {
  font-size: 30px;
  font-weight: 700;
  color: papayawhip;
  margin-bottom: 1em;
}

.order-data,
.custom-data {
  box-sizing: border-box;
  background-color: azure;
  width: 500px;
  color: navy;
  margin: 0.5em auto;
  text-align: left;
  border-radius: 0.4em;
  padding: 0.3em 1.5em;
}
